body {
  background-color:
  hsl(100%, 5%, 90%)
  }

h1 {
  color: white; 
  font-size: 53px;
  font-family:Tahoma, Helvetica, san-serif;
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
}

h2 {padding-left: 10px;}

h3 {color: black;}

h4 {padding-left: 10px}
.center {
  display: block;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  border-radius: 50%;
}

<div> {column-count: 3;

March 2018- Current
  column-gap: 40px;
}

h3 {text-align: center;}
  
 p, li { 
  color: black
  font-family: Tahoma, Helvetica, san-serif;
}
  
.header{
      background-color: black;
  border: 5px solid grey;
  padding-left: 10px; 
   background-color:
  hsl(0, 65%, 85%)
  }
 
